<%- include('header'); -%>
<div class="m-5">
  <h1>Compose</h1>
   <form class="" action="/compose" method="post">
     <div class="form-group">
       <label>Title</label>
       <input class="form-control" type="text" name="postTitle">
       <label>Post</label>
       <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
       <label>Add Pic</label>
       <input type="file" name="postPic" accept="image/*">
     </div>
     <button class="btn btn-primary" type="submit" name="button">Publish</button>
   </form>
</div>

<%- include('footer'); -%>
